<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text = "#{welcome.message}"></h2>
		<p th:text = "#{welcome.messageparraf}"></p>
	</div>
	<div class="container"  sec:authorize="isAuthenticated()">
		<h2 th:text="#{bid.outstanding.title}"></h2>
		
		<p>
		<span th:if="${error}!=null" class="alert alert-danger" th:text="#{Error.buy}"></span>
		<span th:if="${buyed}!=null" class="alert alert-success" th:text="#{buy.list.buyedSucces}"></span>
		</p>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1"></th>
						<th th:text="#{bid.list.title}"></th>
						<th th:text="#{bid.list.description}"></th>
						<th th:text="#{bid.list.price}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr id="ofertas" th:each="bid : ${bidList}">
						<td><i id="star" class="glyphicon glyphicon-star" style="color: orange"></i></td>
						<td th:text="${bid.title}"></td>
						<td th:text="${bid.description}"></td>
						<td th:text="${bid.getPriceFormatted()}"></td>
						<td><div th:if="${bid.isBuyed()}">
								<button type="submit" class="btn btn-default"
									th:text="#{bid.buyed}" disabled></button>
							</div>
							<div th:unless="${bid.isBuyed()}">
								<div th:if="${bid.user.email} != ${session.email}">
									<form id="botonBuy" th:action="${'/bid/' + bid.id + '/buyed'}">
										<button type="submit" class="btn btn-default"
											style="background-color: #3CD951; color: white"
											th:text="#{bid.buy}"></button>
									</form>
								</div>
								<div th:unless="${bid.user.email} != ${session.email}">
									<form id="botonBuy" th:action="${'/bid/' + bid.id + '/buyed'}">
										<button type="submit" class="btn btn-default"
											style="background-color: #3CD951; color: white"
											th:text="#{bid.buy}" disabled></button>
									</form>
								</div>
								<span class="text-danger" th:if="${session.error}!=null">
									<span class="text-danger" th:if="${session.id} == ${bid.id}"
									th:text="#{Error.buy}"> </span>
							</div></td>
						<td><div th:if="${bid.user.email} != ${session.email}">
								<form action="/conversation" method="post">
									<input type="hidden" th:value="${bid.id}" name="bid_id" />
									<button type="submit" class="btn btn-default"
										style="background-color: #0C9DFE; color: white"
										th:text="#{bid.list.contact}"></button>
								</form>
							</div>
							<div th:unless="${bid.user.email} != ${session.email}">
								<button class="btn btn-default" th:text="#{bid.yourbid}" disabled></button>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>