<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{bid.list.title}"></h2>
		<p th:text="#{bid.list.parraf}"></p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{bid.list.title}"></th>
						<th th:text="#{bid.list.description}"></th>
						<th th:text="#{bid.list.price}"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr id = "ofertas" th:each="bid : ${bidList}">
						<td th:text="${bid.title}"></td>
						<td th:text="${bid.description}"></td>
						<td th:text="${bid.getPriceFormatted()}"></td>
						<div th:if="${bid.status == T(com.uniovi.entities.BidStatus).ACTIVED}">
							<td><form id="boton" th:action="${'/bid/mybids/delete/' + bid.id}">
							<button type="submit" class="btn btn-default"
									th:text="#{bid.list.delete}"
									style="background-color: #C24641; color: white"></button>
							</form></td>
						</div>
						<div th:unless="${bid.status == T(com.uniovi.entities.BidStatus).ACTIVED}">
							<td>
							<button class="btn btn-default"
									th:text="#{bid.buyed}"
									disabled></button></td>
						</div>
						<div th:if="${bid.specialBid == true}">
							<td>
							<button type="submit" class="btn btn-default"
									th:text="#{bid.list.outstanding}"
									style="background-color: darkyellow; color: white" disabled></button>
							</td>
						</div>
						<div th:if="${bid.specialBid == false}">
							<td><form id="boton2" th:action="${'/bid/mybids/oustanding/' + bid.id}">
							<button type="submit" class="btn btn-default"
									th:text="#{bid.list.normal}"
									style="background-color: yellow; color: black"></button>
							</form></td>
						</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
